body {
    font-family: 'Roboto Mono', monospace;
    background-color: #f9fcfb;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.card-custom {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    padding: 2rem;
    max-width: 720px;
    width: 100%;
}
.step-number {
    background-color: #f3f3f3;
    color: #8a8a8a;
    font-weight: 600;
    font-size: 14px;
    width: 32px;
    height: 40px;
    border-radius: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
select,
input {
    background-color: #f3f3f3;
    border: 1px solid #d9d9d9;
    color: #b7b7b7;
    font-size: 14px;
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
    font-family: 'Roboto Mono', monospace;
}
select:focus,
input:focus {
    outline: none;
    border-color: #e35a5a;
    box-shadow: 0 0 0 0.2rem rgba(227, 90, 90, 0.25);
    color: #8a8a8a;
}
input[readonly] {
    cursor: not-allowed;
}
.arrow {
    color: #e35a5a;
    font-size: 13px;
    user-select: none;
    text-align: center;
    margin: 0.5rem 0;
}
.btn-login {
    /* background-color: #e35a5a;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border-radius: 9999px;
    padding: 0.75rem 0;
    width: 100%;
    border: none;
    transition: background-color 0.3s ease; */
}
.btn-login:hover {
    /* background-color: #d14a4a; */
    /* border: solid 1px #d14a4a; */
    /* color: #d14a4a; */
}

.qr-text {
    font-size: 12px;
    color: #8a8a8a;
    text-align: center;
    margin-bottom: 0.5rem;
}
.qr-text span {
    font-weight: 600;
    color: #e35a5a;
}
.request-token {
    color: #e35a5a;
    cursor: pointer;
    text-decoration: none;
}
.request-token:hover {
    text-decoration: underline;
}
.copyright {
    font-size: 9px;
    color: #8a8a8a;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    user-select: none;
}

.copyright i {
    color: #2a2a2a;
}

.arrow-1-margin {
    margin-top: 90px;
}

.arrow-2-margin {
    margin-top: 50px;
}
@media (max-width: 767.98px) {
    .card-custom {
    padding: 1.5rem 1rem;
    }
    .arrow {
    margin: 0.25rem 0;
    }

    .arrow-1-margin {
        margin-top: 80px;
    }

    .arrow-2-margin {
        margin-top: 50px;
    }
}


@media (max-width: 575.98px) {
    .center-arrow-icon {
        display: none;
    }

    .qr-text {
        margin-top: 10px;
    }
}


.gray-select-color[disabled] {
    background:#f3f3f3;
    border-color:#d9d9d9;
    color:#b7b7b7;
}